<?xml version="1.0" encoding="utf-8" ?>

<beans>

    <bean id="fruitDao" class="com.fisher.fruit.dao.impl.FruitDaoImpl"/>
    <!--依赖注入，property标签表示属性，name表示属性名，ref表示引用其他bean的id值-->
    <bean id="fruitService" class="com.fisher.fruit.service.impl.FruitServiceImpl">
        <property name="fruitDao" ref="fruitDao"/>
    </bean>

    <bean id="fruit" class="com.fisher.fruit.controllers.FruitController">
        <property name="fruitService" ref="fruitService"/>
    </bean>

</beans>
